<li class="island">
  <div class="author">
    <div class="media cf">
      <div class="img author-picture">
        <a href="#/users/{{actor.id}}">
          <img src="{{actor.picture}}">
        </a>
      </div>
      <div class="bd author-metas">
        <a href="#/users/{{actor.id}}">
          <h3 class="author-title">{{actor.name}}</h3>
        </a>
        <time class="author-timestamp">{{fromNow created_at}}</time>
      </div>
    </div>
  </div>
  {{#if description}}
    <div class="author-description">
      {{description}}
    </div>
  {{/if}}
  <div class="picture">
    <a href="#/pictures/{{id}}">
      <img src="{{imageUrl id "medium"}}"  />
    </a>
  </div>
  <div class="list-actions cf">
    <ul class="segmented-controller">
      <li data-hull-widget="like_button@hull" data-hull-id="{{id}}" data-hull-likes-count="{{stats.likes}}">
      </li>
      <li>
        <a href="#/pictures/{{id}}/comments" class="">
          Comment 
          <i class="icon-comment">
            {{#if stats.comments}}
              {{stats.comments}}
            {{else}}
              0
            {{/if}}
          </i>
        </a>
      </li>
      <li>
        <a href="#/pictures/{{id}}/share" class=""> Share 
          <i class="icon-share-alt"> </i>
        </a>
      </li>
      <li class="tab-item">
        <a href="#">
          <div data-hull-widget="uload" data-hull-id={{id}}></div>
          <i class="icon-camera icon-2x"></i>
          <div class="tab-label">New picture</div>
        </a>
      </li>      
    </ul>
  </div>
</li>
