<li class="island">
  <div class="author">
    <div class="media cf">
      <div class="img author-picture">
        <a href="#/profile/{{actor.id}}">
          <img src="{{actor.picture}}">
        </a>
      </div>
      <div class="bd author-metas">
        <a href="#/profile/{{actor.id}}">
          <h3 class="author-title">{{actor.name}}</h3>
        </a>
        <time class="author-timestamp">{{fromNow created_at}}</time>
      </div>
    </div>
  </div>
  <div class="picture">
    <img src="{{imageUrl id "medium"}}"  />
  </div>
  {{#if description}}
    <div class="author-description">
      {{description}}
    </div>
  {{/if}}
  <div class="list-actions cf">
    <a href="#/comments/{{id}}" class="stat">
      <i class="icon-comment"></i>
        {{#if stats.comments}}
          {{stats.comments}}
        {{else}}
          0
        {{/if}}
    </a>
    <span data-hull-widget="like_button@hull" data-hull-id="{{id}}" data-hull-likes-count="{{stats.likes}}"></span>
    &middot;
    <a href="#/comments/{{id}}" class="action">
      Comment
    </a>
    &middot;
    <a href="#/share/{{id}}" class="action">
      Share
    </a>
  </div>
</li>
