<div class="profile island">
  <div class="author">
    <div class="media cf">
      <div class="img author-picture">
        <img src="{{user.picture}}">
      </div>
      <div class="bd author-metas">
        <div data-hull-widget="follow_user" data-hull-id="{{user.id}}" class="pull-right"></div>

        <h3 class="author-title">{{user.name}}</h3>

        {{! 'fromNow' is a custom Handlebars helper distributed with hull-js }}
        <h4 class="author-updated">{{fromNow user.created_at}}</h4>

      </div>
    </div>
  </div>
  <ul class="profile-stats cf">
    <li>
      <strong>{{user.stats.images}}</strong>
      <small>Photos</small>
    </li>
    <li>
      <strong>{{friends.length}}</strong>
      <small>Friends</small>
    </li>
    <li>
      <strong>{{user.stats.liked}}</strong>
      <small>Likes</small>
    </li>
  </ul>
</div>

<h3 class="heading-body">Latest Pictures</h3>

{{! Here we display a pictures list filtered by user_id }}
<div data-hull-widget='pictures' data-hull-user-id="{{user.id}}"></div>
